body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a2/Hokusai_au_mus%C3%A9e_Guimet_%288289711708%29.jpg');
  background-size: 50%;
}

header {
  background-color: rgb(47, 49, 47, .9);
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 75px;
  width: 70%;
  margin: auto;
  margin-top: 1.5%;
}

h1,	h2 {
  text-align: center;
  color: rgb(196, 21, 21);
}

img {
  display: block;
  width: 50%;
  margin: auto;
  background-color: #ffffff;
  margin-bottom: 30px;
  margin-top: 10px;
}

input {
  display: inline-block;
  margin-top: 2.5%; 
}

aside img {
  width: 70%;
}

section {
  width: 55%;
  margin-left: 5%;
  margin-top: 3%;
  padding-top: 1%;
  background-color: rgb(47, 49, 47, .9);
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 75px;
  padding-bottom: 1%;
}

aside {
  float: left;
}

main aside {
  float: right;
  width: 25%;
  margin-right: 5%;
  background-color: rgb(47, 49, 47, .9);
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 75px;
  padding: 1%;
}

a {
  color: mediumslateblue;
  margin-top: 1%;
  margin-left: 10%;
  font-size: 1.25em;
}

a:visited {
  color: rgb(185, 19, 185);
}

#form1 {
  width: 70%;
  margin-left: 15%;
}

#button {
  margin-top: 1%;	
}

#checklocation {
  background-color: transparent;
  border: none;
  padding: none;
}

#checklocation img {
  width: 40%;
  background-color: transparent;
  float: right;
}

#wrongP {
  color: rgb(216, 52, 52);
  float: right;
  font-size: 1.15em;
}

#rightP {
  color: rgb(56, 167, 28);
  float: right;
  font-size: 1.15em;
}